html, body{height:100%; margin:0;padding:0}

html,
body {
  height: 100%;
  background-color: #01796f;
  font-family: "Graphik", sans-serif;
}
body {
  color: #01796f;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

.page-header {
  color: white
}

.container-fluid{
  height:100%;
  display:table;
  width: 100%;
  padding: 0;
}

.row-fluid {height: 100%; display:table-cell; vertical-align: middle;}

 .centering {
  float:none;
  margin:0 auto;
}

.jumbotron {
	background-color: #01796f;
	color: white;
  align-content: center;
}

.search {
  background-color: rgba(255, 255, 255, 0);
}

.watson {
	text-align: center;
  font-size: 50px;
}

.carousel-example-generic {
    position: relative;
}

.form-group {
	background-color: #01796f;
}

.input-group {
  align-items: center;
}

.instructions {
  color: #fff;
}

.twitter-jumbotron {
  background-image: url("file:///Users/ChristopherGiuffrida/Documents/College/SophomoreYear/SecondSemester/DataStructures/FinalProject/DataStructuresProject/Twitter.png")
  background-size: cover;
}

.image-thumbnail {
    background: #01796f;
}

.logo {
  background: rgba(255, 255, 255, 0);
  border: 0 none;
}

.test {
  background-color: black;
}

.title {
  font-size: 600% !important;
}

.top-margin {
  margin-top: 1cm;
}

.logos {
  background-color: rgba(255, 255, 255, 0);
}
