html, body, #map{
  height: 100%;
  width: 100%;
  background-color: #fff
  text-align: center;
  font-family: "Graphik", sans-serif;
}

#map-canvas {
  background:	transparent no-repeat 1 1;
  z-index:		1;
  width: 100%;
  height: 400px;
  margin-bottom: 15px;
  border: 2px solid #fff;
}

.page-header {
	font-size: 500%;
	color: white;
}

.map-key {
	background-color: #01796f;
	color: white;
	font-size: 500%;
	text-align: center;
}

.title {
	color: #01796f;
	font-size: 500%;
	font-weight: bold;
    padding-top: 1%;
    padding-bottom: 1%;
}

.graphs {
	background-color: white;
}


.navbar {
	background-color: #01796f;
	color: white;
}


.city-results-title {
	color: #01796f;
	margin-left: 2cm;
	margin-right: 2cm;
	margin-top: 2cm;
	border-bottom-color: #01796f;
}

.real-time-results {
	color: #01796f;
	margin-left: 2cm;
	margin-right: 2cm;
	border-bottom-color: #01796f;
}

.graph-key {
	background-color: #01796f;
	color: white;
	text-align: center;
	font-size: 14px;
	height: 1%;
}



.modal-body {
	text-shadow: none;
	color: #01796f;
}


.modal-header {
	text-align: center;
	color: #01796f;
}

.alert {
  background-color: white;
  color: #01796f;
}

h1 {
    font-size: 75%;
    font-weight: 400;
}
